@page
@using ThormaFrontend.Services
@inject AuthSession AuthSession

@model ThormaFrontend.Pages.Festok.IndexModel


<h1>Festők</h1>


@if (AuthSession.IsInRole("Admin"))
{
    <p>
        <a asp-page="./Create">Új festő</a>
    </p>
}



<table class="table">

    <thead>

        <tr>

            <th>Azonosító</th>

            <th>Név</th>

            <th>Született</th>

            <th>Meghalt</th>

            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var f in Model.Festok)

        {

            <tr>

                <td>@f.Azon</td>

                <td>@f.Nev</td>

                <td>@f.Szuletett</td>

                <td>@f.Meghalt</td>

                <td>

                    @if (AuthSession.IsInRole("User") || AuthSession.IsInRole("Admin"))
                    {
                        <a asp-page="./Details" asp-route-azon="@f.Azon">Details</a>
                    }
                    @if (AuthSession.IsInRole("Admin"))
                    {
                        <span> | </span>
                        <a asp-page="./Edit" asp-route-azon="@f.Azon">Edit</a>
                        <span> | </span>
                        <a asp-page="./Delete" asp-route-azon="@f.Azon">Delete</a>
                    }

                </td>

            </tr>

        }

    </tbody>

</table>